{% extends 'layouts/tienda.html' %}

{% load cart_tags %}

{% block title %}Acerca de{% endblock %}

{% block content %}
    <!-- Total: Q {{ cart_total_amount|money_format:"$" }} -->
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 col-sm-12 col-lg-4">
                        <div class="card" style="width: 100%">
                            <img src="{{ product.image.url }}" style="width:100%;" class="card-img-top" alt="{{ product.name }}" />
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.excerpt }}</p>
                                    <p class="card-text">Q {{ product.price }}</p>
                                {% else %}                            
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.excerpt }}</p>
                                {% endif %}          
                            </div>
                                {% if user.is_authenticated %}
                                    <div class='card-footer text-center'>
                                        <a href="{% url 'cart:add_product' product.id %}" class="btn btn-success">
                                            Añadir al carrito
                                        </a>
                                    </div>
                                {% else %}                            

                                {% endif %}     
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <div class="abs-center">
                <form action="#" class="border p-3 form">
                    <h1>Acerca de Nosotros</h1>
                    <p class="lead">Somos una pequeña empresa dedicada a la comercialización de productos</p>
                    <p><strong>Ubicación:</strong> San Marcos, San Marcos, Guatemala</p>
                    <p><strong>Teléfono:</strong> 77601212</p>
                    <p><strong>Pagina Web:</strong> tiendaenlineaumg.com</p>
                </form>
            </div>
        </div>


    </div>
{% endblock %}